<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="JsonSuite">
<listeners>
	<listener class-name="com.typicode.jsonph.utilities.Listeners" />
</listeners>
	<test thread-count="5" name="JsonSuite">
		<classes>
			<class name="com.typicode.jsonph.testCases.TC001_Validate_Workflow" />
		</classes>
	</test>
</suite> 
